.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.data {
  text-align: center;
  font-size: 20px;
  color: #333;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
}

#compareform {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.data {
  margin-top: 20px;
}

p {
  color: #333;
}

#driversList {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.driver {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.top-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.driver img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
}

.driver .driver-identify {
  /* show the name and team underneath eachother */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.driver .driver-identify .driver-name {
  margin: 0;
  font-size: 16px;
  flex-grow: 1;
}

.driver .driver-identify .team-name {
  margin: 0;
  font-size: 12px;
  flex-grow: 1;
}

.team-color-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.driver button {
  width: auto;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 15px;
  cursor: pointer;
}

.driver button:hover {
  background-color: #bd2130;
}

.driver-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.stat-row {
  display: flex;
  display: space-between;
  width: 100%;
}

.stat-label {
  font-weight: bold;
  margin-right: 10px;
}

.stat-value {
  flex-grow: 1;
}

.fastest {
  color: #28a745;
}

.slowest {
  color: #dc3545;
}

.navbar {
  background-color: #333;
  overflow: hidden;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  padding: 14px 20px;
}

.nav-item a {
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
}

.nav-item a:hover {
  background-color: #ddd;
  color: black;
}

.content {
  padding: 20px;
}

.session__header {
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 750px;
  height: 250px;
}

.session__header div {
  display: column;
}

.session__header img {
  width: 200px;
  max-height: 250px;
}

.datacontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
